**/target/*
target/*
*.class
**.settings/*
**/.settings/*
**/bin/*
**bin/*
.project
.classpath
**/generated/*
*.orig
.checkstyle
src/main/resources/application-*.yml
src/main/resources/bootstrap.yml
/target/
/bin/
/build/
/.idea/
